@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(235, 232, 232);
}

header nav {
  font-style: normal;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 700;
  font-size: 120%;
  background-color: rgb(20, 137, 214);
}
@media screen and (max-width: 600px) {
  header nav {
    font-size: 100%;
  }
}
header nav div {
  width: 80%;
}
header nav div a:link {
  color: white;
  text-decoration: none;
}
header nav div a:visited {
  color: white;
  text-decoration: none;
}
header nav div a:hover {
  color: black;
  text-decoration: none;
}

footer nav {
  background-color: rgb(20, 137, 214);
}
footer nav div a img {
  width: 35px;
}

.main-index section div img {
  box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 5px;
}
.main-index section div img:hover {
  transform: scale(1.03, 1.03);
}
.main-index section div h1 {
  font-style: normal;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 700;
  color: rgb(20, 137, 214);
}
.main-index section div h6 {
  font-style: normal;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: -15px;
}

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.main-plantel section span h1 {
  text-align: center;
  justify-content: center;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 1000;
  color: rgb(20, 137, 214);
}
.main-plantel section span div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-plantel section span div img {
  width: 80%;
}
.main-plantel section span div h3 {
  text-align: center;
  justify-content: center;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  color: rgb(20, 137, 214);
  margin-top: 10px;
}
.main-plantel section span div h5 {
  text-align: center;
  justify-content: center;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 400;
  color: black;
  margin-top: -15px;
}
.main-plantel section span div:hover {
  transform: scale(1.03, 1.03);
}

.posiciones-main span h1 {
  text-align: center;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 1000;
  color: rgb(20, 137, 214);
  margin-top: 10px;
}
.posiciones-main table thead tr th {
  text-align: center;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 1000;
  color: white;
}
.posiciones-main table tbody tr th {
  text-align: center;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 1000;
  color: black;
}
.posiciones-main table tbody tr .pais {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 1000;
  color: black;
  display: flex;
  justify-content: start;
  align-items: center;
}
.posiciones-main table tbody tr .pais img {
  margin-right: 10px;
}
.posiciones-main table tbody tr img:hover {
  transform: scale(1.03, 1.03);
}
.posiciones-main table tbody tr td {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 1000;
  color: black;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
