.main-index {
    section {
        div {
            img {
                box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.75);
                margin-bottom: 5px;
            }

            img:hover {
                transform: scale(1.02, 1.02);
            }

            h1 {
                font-style: normal;
                font-family: 'Anek Telugu', sans-serif;
                font-weight: 700;
                color: rgb(20, 137, 214);
            }

            h2 {
                font-style: normal;
                font-family: 'Anek Telugu', sans-serif;
                font-weight: 700;
                color: rgb(20, 137, 214);
                margin-bottom: 15px;
            }

            h6 {
                font-style: normal;
                font-family: 'Anek Telugu', sans-serif;
                font-weight: 400;
                text-align: center;
                margin-top: -15px;
            }

            @media screen and (max-width:1199px) and (min-width:992px) {
                .nota-sec {
                    display: none !important;
                }
            }
        }
    }
}