.main-posiciones {
    section {
        span {
            h1 {
                text-align: center;
                font-family: 'Anek Telugu', sans-serif;
                font-weight: 1000;
                color: rgb(20, 137, 214);
            }
        }

        table {
            thead {
                tr {
                    th {
                        text-align: center;
                        font-family: 'Anek Telugu', sans-serif;
                        font-weight: 1000;
                        color: white;
                    }
                }
            }

            tbody {
                tr {
                    th {
                        text-align: center;
                        font-family: 'Anek Telugu', sans-serif;
                        font-weight: 1000;
                        color: black;
                    }

                    .pais {
                        font-family: 'Anek Telugu', sans-serif;
                        font-weight: 1000;
                        color: black;
                        display: flex;
                        justify-content: start;
                        align-items: center;


                        img {
                            margin-right: 10px;
                        }
                    }

                    img:hover {
                        transform: scale(1.03, 1.03);
                    }

                    td {
                        font-family: 'Anek Telugu', sans-serif;
                        font-weight: 1000;
                        color: black;
                        text-align: center;
                    }
                }
            }
        }
    }

}