.videos-main{
    section{
        span{
            h1{
                text-align: center;
                font-family: 'Anek Telugu', sans-serif;
                font-weight: 1000;
                color: rgb(20, 137, 214);
                margin-top: 10px;
            }
        }
    }
}



.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}